/* Universal */
:root {
    --dark-blue: #2b2d42;
    --pink: #e86a92;
    --yellow: #f7e733;
    --white: #f7f7f9;
    --aqua: #41e2ba;
}
/* Element */
header {
    height: 143px;
    text-align: left;
    background-color: var(--dark-blue);
    background-size: 10px;
    color: var(--white);
    font-size: 60px;

}

header h1 {
    display: inline-flex;
    background-color: var(--aqua);
    flex-wrap: wrap;
    padding-right: 10px;
    padding-left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: var(--white);
    color: var(--dark-blue);
}

/* Class */
.about-me {
    display: flex;
    margin-bottom: 30px;
}

.about-me-head {
    margin-bottom: 32px;
    font-family: sans-serif;
    font-size: 40px;
    text-align: right;
    padding-right: 30px;
    border-right: 10px solid var(--dark-blue);
    height: 360px;
    flex: 1 1 0px;
}

.about-me-content {
    flex: 1 1 650px;
    padding-left: 50px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 37px;
}

.about-me-face {
    height: 400px;
    width: 400px;
    border-radius: 200px;
    margin-left: 100px;
}

.links {
    display: flex;
    justify-content: flex-end;
    background-color: var(--dark-blue);
    padding-bottom: 10px;
    flex: 1 1 0px;
}

.links a {
    text-decoration: none;
    text-align: center;
    color: var(--white);
    margin-right: 20px;
    font-size: 20px;
    border-bottom: 5px solid var(--aqua);
}

.links a:hover {
    border-bottom: 5px solid var(--pink);

}

.background {
    height: 225px;
    width: 100%;
    margin-bottom: 30px;
    background-image: url(../images/background.png);
    background-repeat: repeat;
}

.background h2 {
    display: inline;
    position: absolute;
    font-size: 32px;
    top: 300px;
    right: 0px;
    padding: 10px;
    color: var(--white);
    background-color: var(--dark-blue);
}

.my-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.my-work-head {
    margin-bottom: 32px;
    width: 100px;
    font-family: sans-serif;
    font-size: 40px;
    text-align: right;
    padding-right: 30px;
    border-right: 10px solid var(--dark-blue);
    height: 800px;
}

.box-1 {
    height: 800px;
    width: 920px;
    border: 10px solid var(--pink);
    margin: 0 50px 50px 50px;
    flex-shrink: 2;
}

.horiseon-link {
    position: relative;
    bottom: 80px;
    background-color: var(--pink);
    padding: 30px;
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box-1:hover {
    border: 10px solid var(--yellow);
}

.horiseon-link:hover {
    background-color: var(--yellow);
    color: var(--dark-blue);
}

.my-work-small{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.my-work-small-2 {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.box-2 {
    height: 200px;
    width: 380px;
    border: 10px solid var(--pink);
    padding: 10px;
    margin: 50px;
}

.box-2 p {
    position: relative;
    display: inline;
    bottom: 50px;
    left: -20px;
    background-color: var(--pink);
    padding: 20px;
    color: var(--white);
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box-2:hover {
    border: 10px solid var(--yellow);
}

.box-2 p:hover {
    background-color: var(--yellow);
    color: var(--dark-blue);
}

.contact-footer {
    display: flex;
    justify-content: flex-end;
}

.contacts {
    /* margin-bottom: 32px; */
    font-family: sans-serif;
    font-size: 40px;
    text-align: right;
    padding-right: 30px;
    border-right: 10px solid var(--dark-blue);
    flex: 6 2 0;
}

.contact-info {
    text-decoration: none;
    text-align: center;
    margin: 50px;
    font-size: 20px;
    color: var(--dark-blue);
    border-bottom: 5px solid var(--aqua);
    flex: 1 2 0;
}

.contact-info:hover {
    border-bottom: 5px solid var(--pink);
}
/* ID */
@media screen and (max-width:1200px) {
    .about-me-face {
        display: none;
    }
}

@media screen and (max-width:1200px) {
    .about-me-head {
        flex-basis:300px;
    }
}

@media screen and (max-width:1196px){
    .my-work {
        flex-direction: column;
    }
}

@media screen and (max-width:1196px) {
    .my-work-head {
        border-right: none;
        flex-basis: 10px;
        text-align: center;
        justify-content: center;
        width: 500px;
        margin-left: 300px;
        border-bottom: 10px solid var(--dark-blue);
    }
}

@media screen and (max-width:983px) {
    .contact-footer {
        flex-direction: column;
    }
}

@media screen and (max-width:983px) {
    .contacts {
        text-align: center;
        border-right: none;
        border-bottom: 10px solid var(--dark-blue);
    }
}

@media screen and (max-width:662px) {
    header h1{
        background-color: var(--dark-blue);
        font-size: 50px;
        text-align: center;
        justify-content: center;
    }
}

@media screen and (max-width:662px) {
    .about-me {
        flex-direction: column;
    }
}

@media screen and (max-width:662px) {
    .top-links {
        background-color: var(--dark-blue);
        color: red;
        padding: 18px;
    }
}

@media screen and (max-width:662px) {
    .about-me-head {
        border-right: 0px;
        border-bottom: 10px solid var(--dark-blue);
        text-align: center;
        flex-basis: 100px;
    }
}